html, body, #root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
    row-gap: 50px;;
}

.grid {
    display: grid;
    position: relative;
    grid-template-rows: repeat(var(--grid-rows), var(--cell-size));
    grid-template-columns: repeat(var(--grid-cols), var(--cell-size));
    grid-gap: var(--grid-gap);
    background-color: rgb(187, 173, 160);
    border: solid rgb(187, 173, 160) 5px;
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    background-color: rgb(205, 193, 180);
    border-radius: 3px;
}

.hidden {
    display: none;
}

.block {
    position: absolute;
    transition-property: left, top;
    transition-duration: var(--transition-time);
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    width: var(--cell-size);
    height: var(--cell-size);
    text-align: center;
    vertical-align: middle;
}


.two {
    background-color: rgb(238, 228, 218)
}

.four {
    background-color: rgb(238, 225, 201)
}

.eight {
    background-color: rgb(242, 177, 121)
}

.sixteen {
    background-color: rgb(245, 149, 99)
}

.thirty-two {
    background-color: rgb(246, 124, 95)
}

.sixty-four {
    background-color: rgb(246, 94, 59)
}

.one-two-eight {
    background-color: rgb(237, 207, 114)
}

.two-five-six {
    background-color: rgb(237, 204, 97)
}

.five-twelve {
    background-color: rgb(237, 200, 80)
}

.thousand-twenty-four {
    background-color: rgb(237, 197, 63)
}

.two-thousand-forty-eight {
    background-color: rgb(237, 194, 46)
}

.four-thousand-ninety-six {
    background-color: rgb(181, 134, 180)
}